<!DOCTYPE html>
<html ng-app="Mod2">

	<head>
		<meta charset="utf-8">
		
		<script src="angular.min.js"></script>
		<script src="angular.min.js.map"></script>
		<script src="app2.js"></script>
		<script src="prototype.js"></script>
		<title>Hello Coursera</title>
	</head>
	
	
	<body ng-controller="myController">
		
		<div>
		<!-- FILTER AND SHOPPING CART LIST NG-REPEAT
			<PRE>    NAME   QUANTITY</PRE>
			<ul>
				<li ng-repeat="i in l2 | filter :search"><pre>{{i.name}}    {{i.quantity}} </pre> </li>
			</ul>
			
			<br><br>
			
			<input type="text" ng-model="newname" ><br><br>
			<input type="text" ng-model="newquan"><br><br>
			<button ng-click="add();">Add to cart</button>
			
			<input type="text" ng-model="search">
			
		-->	
		
		</div>
	
	</body>


</html>