<!DOCTYPE html>
<html ng-app="letterCalculator">

	<head>
		<meta charset="utf-8">
		
		<script src="angular.min.js"></script>
		<script src="angular.min.js.map"></script>
		<script src="app.js"></script>

		<title>Hello Coursera</title>
	</head>
	
	<body ng-controller="myController">
		
		<h1>Count Letters!!</h1>
		
		<div>
		
			<input type="text" ng-model="name"  ng-keyup="upp(); count();">
			Number of letters in your name is {{value}} {{name}}
			
		</div>
		
		<div>
		
			<br>
			<button ng-click="flip();"><img ng-src="{{image_name}}"/></button>
			<br>
			
		
		</div>
	
	</body>
</html>